language: generic
osx_image: xcode8.3
os: osx

env:
  global:
    - ROS2_IOS_VERSION="10-1"
    - XCODE_XCCONFIG_FILE=$HOME/ros2_ios_ws/src/ruslo/polly/scripts/NoCodeSign.xcconfig

before_install:
  - brew upgrade python
  - sudo -H python3 -m pip install empy setuptools vcstool pyparsing
  - gem install xcpretty

script:
  - /bin/pwd
  - mkdir -p ~/ros2_ios_ws/src
  - cd ~/ros2_ios_ws
  - /bin/pwd
  - wget https://raw.githubusercontent.com/esteve/ros2_objc/master/ros2_objc_ios.repos
  - vcs import ~/ros2_ios_ws/src < $TRAVIS_BUILD_DIR/ros2_objc_ios.repos
  - touch ~/ros2_ios_ws/src/ros2/rosidl/python_cmake_module/AMENT_IGNORE
  - touch ~/ros2_ios_ws/src/ros2/rosidl/rosidl_generator_py/AMENT_IGNORE
  - touch ~/ros2_ios_ws/src/ruslo/polly/examples/01-executable/AMENT_IGNORE
  - touch ~/ros2_ios_ws/src/ruslo/polly/examples/02-library/AMENT_IGNORE
  - touch ~/ros2_ios_ws/src/ruslo/polly/examples/03-shared-link/AMENT_IGNORE
  - touch ~/ros2_ios_ws/src/ros2/rcl_interfaces/test_msgs/AMENT_IGNORE
  - cd ~/ros2_objc_ws/src/ros2/rosidl_typesupport
  - patch -p1 < ../../ros2_objc/ros2_objc/rosidl_typesupport_ros2_ios.patch
  - cd ~/ros2_objc_ws
  - src/ament/ament_tools/scripts/ament.py build --parallel --use-xcode --symlink-install --isolated --cmake-args -DTHIRDPARTY=ON -DCOMPILE_EXAMPLES=OFF -DBUILD_SHARED_LIBS=OFF -DCMAKE_TOOLCHAIN_FILE=$HOME/ros2_ios_ws/src/ruslo/polly/ios-nocodesign-${ROS2_IOS_VERSION}.cmake -DCMAKE_XCODE_ATTRIBUTE_ONLY_ACTIVE_ARCH=NO -- --make-flags -quiet -sdk iphoneos | tee /tmp/ament_build.log | xcpretty
  - tail /tmp/ament_build.log
